
// Bootstrap
// https://getbootstrap.com/docs/4.4/getting-started/theming/

// Make your variable overrides below here
$body-bg: #fff;
$body-color: #111;

$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136
);

// Required Bootstrap
@import "./bootstrap/functions";
@import "./bootstrap/variables";
@import "./bootstrap/mixins";

// Theme variables 

// Footer
$footer-background: $gray-900;
$footer-link: $white;
$footer-link-hover: rgba( $white, .5 );
$footer-text-colour: $white;

// Bootstrap and its default variables
// @import "./bootstrap/bootstrap.scss";

// Bootstrap elements you can comment out if not used
@import "./bootstrap/alert";
@import "./bootstrap/badge";
@import "./bootstrap/breadcrumb";
@import "./bootstrap/button-group";
@import "./bootstrap/buttons";
@import "./bootstrap/card";
@import "./bootstrap/carousel";
@import "./bootstrap/close";
@import "./bootstrap/code";
@import "./bootstrap/custom-forms";
@import "./bootstrap/dropdown";
@import "./bootstrap/forms";
@import "./bootstrap/grid";
@import "./bootstrap/images";
@import "./bootstrap/input-group";
@import "./bootstrap/jumbotron";
@import "./bootstrap/list-group";
@import "./bootstrap/media";
@import "./bootstrap/modal";
@import "./bootstrap/nav";
@import "./bootstrap/navbar";
@import "./bootstrap/pagination";
@import "./bootstrap/popover";
@import "./bootstrap/print";
@import "./bootstrap/progress";
@import "./bootstrap/reboot";
@import "./bootstrap/root";
@import "./bootstrap/spinners";
@import "./bootstrap/tables";
@import "./bootstrap/toasts";
@import "./bootstrap/tooltip";
@import "./bootstrap/transitions";
@import "./bootstrap/type";
@import "./bootstrap/utilities";
@import "./bootstrap/bootstrap-grid.scss";
@import "./bootstrap/bootstrap-reboot.scss";

// Theme styles
@import "./theme/theme.scss";
@import "./theme/wordpress.scss";