/* Theme styles */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
    background: $footer-background;
    color: $footer-text-colour;

    a {
        color: $footer-link;
    }

    a:hover {
        color: $footer-link-hover;
    }
}