/* Theme styles */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Pagination
# Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.page-navigation {
    width: 100%;
    float: left;
    text-align: center;
}

.page-numbers {
    display: inline-block;

    li {
        display: inline;

        .page-numbers {
            float: left;
            padding: 1rem;
            display: block;
        }

        .page-numbers.current {
            pointer-events: none;
            cursor: auto;
            background-color: $primary;
            color: white;
        }

        a.page-numbers {
            color: $primary;
        }

        .next.page-numbers {
            display: block;
        }

        .prev.page-numbers {
            display: block;
        }
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
    background: $footer-background;
    color: $footer-text-colour;

    a {
        color: $footer-link;
    }

    a:hover {
        color: $footer-link-hover;
    }
}